<input [type]=inputType value="takvim">
<input type="date">
<h3 [style]="_style">ysf</h3>
<h3 style="background:moccasin ">deneme</h3>
<button class="btn btn-lg btn btn-info" (click)="Mesaj()"> mesajınız var</button>
<input type="text" (change)='ChangeEvent($event)'>

<div class="form-group">
  <label>Ad    :</label>
  <input type="text" class="form-control-sm" [(ngModel)]="name">
</div>
<app-product></app-product>
<div class="form-group ">
  <label>Soyad :</label>
  <input type="text" class="form-control-sm" [(ngModel)]="surname">
</div>
<button class="btn btn-md btn-success" (click)="FullCombine()"> birleştir</button>

